<section class='row'>
  <div class='col-sm-3'>
  </div>
  <div class='col-sm-6 jumbotron text-center'>
    <h2>ERROR 404<br><%= query %> is not in the movie database. <br> Please search again. Thank you!</h2>
    <img src='http://i.imgur.com/krB0YpT.jpg' style='height: 400px; width: 400px'>
  </div>
  <div class='col-sm-3'>
  </div>
