<section class='row'>
  <div class='col-sm-3'>
  </div>
  <div class=' col-sm-6 jumbotron text-center'>
  <h1 style='color: green; font-size: 30px'>Thanks for coming here for your movie search!<br>
    Type your movie title into the search bar to find all movies with that name.<br>
    Happy searching!</h1>
  </div>
  <div class='col-sm-3'>
  </div>
</section>
