<!DOCTYPE html>
<html>
  <head>
    <title>OMDB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src='/script.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  </head>
  <body style="background-image: url('https://i.ytimg.com/vi/pAVvHXP_Pwc/maxresdefault.jpg'); background-size: 100% 1200px; background-repeat: no-repeat; background-attachment: fixed">
    <nav class="navbar navbar-default" style="height: 150px; background-image: url('http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=28053318'); background-size: 21% 120%; position: relative; top: -25px">
      <div class="container-fluid">
        <div class="navbar-brand">
          <a style="position: relative; top: 45px; font-size:40px" class="navbar-brand">
          </a>
        </div>
        <header style="text-align: center; position: relative; top: 40px"><h1>Movie Search!</h1>
        </header>
        <div class='form-group'>
          <form class="navbar-form navbar-right" action="/movies" method="GET" role="form">
            <input type="text" class="form-control searcher" name="q" placeholder="Search Movies">
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-left" style='position: relative; right:20px'>
            <li style="font-weight: bold; font-size: 25px"><a href="/favorites">Favs</a></li>
            <li style="font-weight: bold; font-size: 25px"><a href="/">Home</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <%- body %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  </body>
</html>
